{% load static %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> {% load static %}

    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/cinema.css' %}">
    <script src="{% static 'js/script.js' %}"></script>

    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Moovie</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'post_list' %}">Home</a>
                    </li>
                    <li>
                        <a href="">Movies</a>
                    </li>
                    <li>
                        <a href="{% url 'movies' %}">Showtimes</a>
                    </li>
                    <li>
                        <a href="{% url 'movies' %}">Book Ticket</a>
                    </li>
                    <li>
                        <a href="{% url 'post_new' %}" class="top-menu">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'post_draft_list' %}" class="top-menu">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</head>

<body>
        
    <div class="container" style="margin-top:100px">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>